# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
dist/
build/
*.egg
.env
 
# Node
node_modules/
frontend/dist/
frontend/.env
 
# DB
*.db
*.sqlite
 
# OS
.DS_Store
Thumbs.db
 
# IDE
.vscode/settings.json
.idea/
 
# Uploads
backend/uploads/
venv*/
backend/venv311/
